@font-face{
    font-family:Roboto;
    src:url(../fonts/RobotoRegular/roboto-v16-cyrillic-ext_latin-ext-regular.eot);
    src:url(../fonts/RobotoRegular/roboto-v16-cyrillic-ext_latin-ext-regular.eot?iefix) format('eot'),
    url(../fonts/RobotoRegular/roboto-v16-cyrillic-ext_latin-ext-regular.woff) format('woff'),
    url(../fonts/RobotoRegular/roboto-v16-cyrillic-ext_latin-ext-regular.ttf) format('truetype');
    font-weight:400;
    font-style:normal}