@media only screen and (max-width: 1200px) {
  .nav-wrap {
    max-width: 165px;
    min-width: 165px;
  }

  .nav-wrap .logo img {
    width: 116px;
  }

  .search-wrap, .logo {
    height: 47px;
  }

  .chat-nav ul a {
    height: 24px;
  }

  .chat-nav ul a span {
    font-size: 10px;
  }

  .chat-nav ul:nth-child(1) li:nth-child(3) a:before {
    width: 11px;
    height: 10px;
    left: 8px;
  }

  .chat-nav ul:nth-child(1) li:nth-child(2) a:before {
    width: 10px;
    height: 10px;
    left: 9px;
  }

  .chat-nav ul:nth-child(1) li:nth-child(1) a:before {
    width: 12px;
    height: 10px;
    left: 9px;
    top: 11px;
  }

  .chat-nav ul:nth-child(1) li:nth-child(4) a:before {
    width: 12px;
    height: 10px;
    left: 8px;
  }

  .chat-nav ul:nth-child(2) li:nth-child(1) a:before {
    width: 12px;
    height: 11px;
    left: 7px;
  }

  .chat-nav ul:nth-child(2) li:nth-child(2) a:before {
    width: 11px;
    height: 11px;
    left: 9px;
  }

  .chat-nav ul:nth-child(2) li:nth-child(3) a:before {
    width: 10px;
    height: 11px;
    left: 9px;
  }

  .chat-nav ul:nth-child(2) li:nth-child(4) a:before {
    width: 10px;
    height: 10px;
    left: 9px;
  }

  .nav-bottom {
    padding-left: 15px;
  }

  .nav-bottom .lang > span {
    height: 18px;
    width: 36px;
    font-size: 8px;
  }

  .nav-bottom .exit-chat img {
    width: 14px;
  }
}

@media only screen and (max-width: 992px) {
  .chat-page-wrapper {
    padding-left: 78px;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display: flex;
    flex-direction: row;
  }

  .nav-wrap {
    width: 78px;
    min-width: 0;
    max-width: 660px;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 1;
    top: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  .nav-wrap.active {
    width: 660px;
    z-index: 10;
    height: 100vh;
  }

  .chat-nav ul:after{
    display: none;
  }


  .nav-wrap.active .chat-nav ul{
    display: block;
  }

  .nav-wrap.active ul.new-rt-menu{
    display: none;
  }



  .hamburger {
    display: inline-block;
    position: absolute;
    top: 39px;
    left: 21px;
    padding: 12px 0;
  }

  .hamburger span {
    display: inline-block;
    width: 34px;
    height: 2px;
    background-color: #92A1BD;
    position: relative;
  }

  .hamburger span:before, .hamburger span:after {
    position: absolute;
    content: '';
    width: 34px;
    height: 2px;
    background-color: #92A1BD;
  }

  .hamburger span:before {
    top: -12px;
  }

  .hamburger span:after {
    top: 12px;
  }

  .logo {
    height: 112px;
    border-bottom: 0;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  .logo img {
    opacity: 0;
    visibility: hidden;
  }

  .nav-wrap {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 10;
    overflow: hidden;
  }

  .nav-wrap.active .logo {
    height: auto;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  .nav-wrap.active .logo img {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 0px;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }

  .nav-wrap.active .chat-nav {
    padding: 0 80px;
  }

  .nav-wrap.active .chat-nav ul {
    padding: 8px 0;
    position: relative;
  }

  .nav-wrap.active .chat-nav ul:after {
    position: absolute;
    display: block;
    content: '';
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 460px;
    bottom: 0;
    height: 1px;
    background-color: #253043;
  }

  .nav-wrap.active .chat-nav ul li a span {
    display: inline;
  }

  .nav-wrap.active .chat-nav ul:nth-child(1) li:nth-child(3) a:before {
    background-image: url(../img/chat/1.svg);
    width: 21px;
    height: 20px;
    left: 8px;
  }

  .nav-wrap.active .chat-nav ul:nth-child(1) li:nth-child(2) a:before {
    background-image: url(../img/chat/3.svg);
    width: 21px;
    height: 21px;
    left: 9px;
  }

  .nav-wrap.active .chat-nav ul:nth-child(1) li:nth-child(1) a:before {
    background-image: url(../img/chat/6.svg);
    width: 23px;
    height: 19px;
    left: 9px;
  }

  .nav-wrap.active .chat-nav ul:nth-child(1) li:nth-child(4) a:before {
    background-image: url(../img/chat/7.svg);
    width: 22px;
    height: 19px;
    left: 8px;
    top: 21px !important;
  }

  .nav-wrap.active .chat-nav ul:nth-child(2) li:nth-child(1) a:before {
    background-image: url(../img/chat/2.svg);
    width: 21px;
    height: 19px;
    left: 7px;
    top: 21px !important;
  }

  .nav-wrap.active .chat-nav ul:nth-child(2) li:nth-child(2) a:before {
    background-image: url(../img/chat/4.svg);
    width: 21px;
    height: 21px;
    left: 9px;
  }

  .nav-wrap.active .chat-nav ul:nth-child(2) li:nth-child(3) a:before {
    background-image: url(../img/chat/5.svg);
    width: 21px;
    height: 23px;
    left: 9px;
  }

  .nav-wrap.active .chat-nav ul:nth-child(2) li:nth-child(4) a:before {
    background-image: url(../img/chat/8.svg);
    width: 21px;
    height: 21px;
    left: 9px;
  }

  .nav-wrap.active .chat-nav a {
    display: block;
    height: 42px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #92a1bd;
    text-decoration: none;
    padding-left: 50px;
    position: relative;
  }

  .nav-wrap.active .chat-nav a span {
    font-size: 14px;
  }

  .nav-wrap.active .chat-nav a:before {
    position: absolute;
    content: '';
    left: 18px !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-size: cover;
  }

  .nav-wrap.active .chat-nav li.active a {
    background-color: #36445a;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
  }

  .nav-wrap.active .nav-bottom {
    display: flex;
    padding: 20px 97px;
  }

  .nav-wrap.active .nav-bottom .lang > span {
    height: 39px;
    width: 73px;
    font-size: 16px;
  }

  .nav-wrap.active .nav-bottom .exit-chat img {
    width: 30px;
  }

  .chat-nav ul{
    display: none;
  }

  .chat-nav ul a {
    height: 58px;
  }

  .chat-nav ul a span {
    font-size: 10px;
    display: none;
    white-space: nowrap;
  }

  .chat-nav ul li a:before {
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  /*

  .chat-nav ul:nth-child(1) {
    padding-bottom: 0;
  }

  .chat-nav ul:nth-child(1):after {
    display: none;
  }

  .chat-nav ul:nth-child(1) li:nth-child(3) a:before {
    width: 27px;
    height: 25px;
  }

  .chat-nav ul:nth-child(1) li:nth-child(2) a:before {
    width: 26px;
    height: 26px;
  }

  .chat-nav ul:nth-child(1) li:nth-child(1) a:before {
    width: 27px;
    height: 25px;
  }

  .chat-nav ul:nth-child(1) li:nth-child(4) a:before {
    width: 27px;
    height: 24px;
  }

  .chat-nav ul:nth-child(2) {
    padding-top: 0;
  }

  .chat-nav ul:nth-child(2) li:nth-child(1) a:before {
    width: 30px;
    height: 28px;
  }

  .chat-nav ul:nth-child(2) li:nth-child(2) a:before {
    width: 28px;
    height: 28px;
  }

  .chat-nav ul:nth-child(2) li:nth-child(3) a:before {
    width: 26px;
    height: 31px;
  }

  .chat-nav ul:nth-child(2) li:nth-child(4) a:before {
    width: 26px;
    height: 26px;
  }
  */

  .nav-bottom {
    padding-left: 15px;
    display: none;
  }

  .nav-bottom .lang > span {
    height: 18px;
    width: 36px;
    font-size: 8px;
  }

  .nav-bottom .exit-chat img {
    width: 14px;
  }
}


@media only screen and (max-width: 767px) {
  .chat-page-wrapper {
    padding-left: 50px;
    /*min-height: 100vh;*/
  }

  .nav-wrap {
    cursor: pointer;
    width: 50px;
    max-width: 85%;
  }

  .nav-wrap.active {
    width: 85%;
  }

  .hamburger {
    top: 13px;
    left: 13px;
    display: block;
    padding-top: 30px;
  }

  .hamburger span {
    width: 24px;
    display: block;
  }

  .hamburger span:before, .hamburger span:after {
    width: 24px;
  }

  .hamburger span:before {
    top: -8px;
  }

  .hamburger span:after {
    top: 8px;
  }

  .logo {
    height: 95px;
    padding-left: 0;
  }

  .nav-wrap.active .logo {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }

  .nav-wrap.active .logo img {
    width: 180px;
    padding-top: 5px;
    padding-bottom: 2px;
  }

  .nav-wrap.active .chat-nav {
    padding: 0 20px;
  }

  .nav-wrap.active .chat-nav ul {
    padding: 6px 0;
  }

  .nav-wrap.active .chat-nav ul:after {
    width: 100%;
  }

  .nav-wrap.active .chat-nav ul:nth-child(1) li:nth-child(3) a:before {
    width: 15px;
    height: 14px;
    left: 12px !important;
  }

  .nav-wrap.active .chat-nav ul:nth-child(1) li:nth-child(2) a:before {
    width: 14px;
    height: 14px;
    left: 12px !important;
  }

  .nav-wrap.active .chat-nav ul:nth-child(1) li:nth-child(1) a:before {
    width: 17px;
    height: 14px;
    left: 11px !important;
    top: 15px !important;
  }

  .nav-wrap.active .chat-nav ul:nth-child(1) li:nth-child(4) a:before {
    width: 17px;
    height: 14px;
    left: 12px !important;
    top: 17px !important;
  }

  .nav-wrap.active .chat-nav ul:nth-child(2) li:nth-child(1) a:before {
    width: 14px;
    height: 13px;
    left: 14px !important;
    top: 17px !important;
  }

  .nav-wrap.active .chat-nav ul:nth-child(2) li:nth-child(2) a:before {
    width: 13px;
    height: 13px;
    left: 15px !important;
  }

  .nav-wrap.active .chat-nav ul:nth-child(2) li:nth-child(3) a:before {
    width: 13px;
    height: 15px;
    left: 15px !important;
  }

  .nav-wrap.active .chat-nav ul:nth-child(2) li:nth-child(4) a:before {
    width: 14px;
    height: 14px;
    left: 15px !important;
  }

  .nav-wrap.active .chat-nav a {
    height: 34px;
    padding-left: 34px;
  }

  .nav-wrap.active .chat-nav a span {
    font-size: 12px;
  }

  .nav-wrap.active .nav-bottom {
    padding: 20px 20px;
  }

  .nav-wrap.active .nav-bottom .lang > span {
    height: 28px;
    width: 56px;
    font-size: 12px;
  }

  .nav-wrap.active .nav-bottom .exit-chat img {
    width: 19px;
  }

  .chat-nav ul a {
    height: 38px;
  }

  .chat-nav ul a span {
    font-size: 10px;
    display: none;
    white-space: nowrap;
  }

  .chat-nav ul li a:before {
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .chat-nav ul:nth-child(1) {
    padding-bottom: 0;
  }

  .chat-nav ul:nth-child(1):after {
    display: none;
  }

  .chat-nav ul:nth-child(1) li:nth-child(3) a:before {
    width: 20px;
    height: 18px;
  }

  .chat-nav ul:nth-child(1) li:nth-child(2) a:before {
    width: 20px;
    height: 20px;
  }

  .chat-nav ul:nth-child(1) li:nth-child(1) a:before {
    width: 20px;
    height: 18px;
  }

  .chat-nav ul:nth-child(1) li:nth-child(4) a:before {
    width: 20px;
    height: 17px;
  }

  .chat-nav ul:nth-child(2) {
    padding-top: 0;
  }

  .chat-nav ul:nth-child(2) li:nth-child(1) a:before {
    width: 20px;
    height: 18px;
  }

  .chat-nav ul:nth-child(2) li:nth-child(2) a:before {
    width: 20px;
    height: 20px;
  }

  .chat-nav ul:nth-child(2) li:nth-child(3) a:before {
    width: 17px;
    height: 20px;
  }

  .chat-nav ul:nth-child(2) li:nth-child(4) a:before {
    width: 19px;
    height: 19px;
  }

  .nav-bottom {
    padding-left: 15px;
    display: none;
  }

  .nav-bottom .lang > span {
    height: 18px;
    width: 36px;
    font-size: 8px;
  }

  .nav-bottom .exit-chat img {
    width: 14px;
  }
}
