.stepper {
    border-radius: 3px;
    margin: 0 0 10px 0;
    overflow: hidden;
    position: relative;
    width: 86px;
}
.stepper .stepper-input {
    border-radius: 4px;
    font-size: 13px;
    line-height: 1.2;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    border: 1px solid transparent;
    z-index: 49;
    -moz-appearance: textfield;}
.stepper .stepper-input::-webkit-inner-spin-button,
.stepper .stepper-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;}
.stepper .stepper-arrow {
    cursor: pointer;
    display: block;
    height: 6px;
    position: absolute;
    right: 8px;
    text-indent: -99999px;
    width: 8px;
    z-index: 50;}
.stepper .stepper-arrow.up {
    background:  url("../img/btn-inp-up.svg") no-repeat center;
    top: 11px;}
.stepper .stepper-arrow.down {
    background:  url("../img/btn-inp-down.svg") no-repeat center;
    bottom: 11px;}
.stepper.disabled .stepper-arrow {
    cursor: default;}
@media screen and (min-width: 740px) {
    .stepper.disabled .stepper-arrow {
        cursor: default;}
}
