.nav-wrap {
    max-width: 210px;
    min-width: 210px;
    background-color: #202b3c;
    border-right: 1px solid #4e5663;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font:12px/29px Roboto;
/*    min-height: 100vh;*/
    /*height: 100%; */}
.nav-wrap .logo img {
    width: 154px; }
.nav-wrap .logo img{
    height: 100%;}
.logo {
    height: 61px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.logo {
    border-bottom: 1px solid #4e5663;
    padding-left: 9px; }

.chat-nav {
    padding: 0 7px; }
.chat-nav ul {
    padding: 8px 0;
    position: relative; }
.chat-nav ul:after {
    position: absolute;
    content: '';
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 160px;
    bottom: 0;
    height: 1px;
    background-color: #253043; }
.chat-nav ul:nth-child(1) li:nth-child(3) a:before {
    background-image: url(../img/chat/1.svg);
    width: 15px;
    height: 14px;
    left: 8px; }
.chat-nav ul:nth-child(1) li:nth-child(2) a:before {
    background-image: url(../img/chat/3.svg);
    width: 13px;
    height: 13px;
    left: 9px; }
.chat-nav ul:nth-child(1) li:nth-child(1) a:before {
    background-image: url(../img/chat/6.svg);
    width: 16px;
    height: 13px;
    left: 9px; }
.chat-nav ul:nth-child(1) li:nth-child(4) a:before {
    background-image: url(../img/chat/7.svg);
    width: 16px;
    height: 13px;
    left: 8px; }
.chat-nav ul:nth-child(2) li:nth-child(1) a:before {
    background-image: url(../img/chat/2.svg);
    width: 16px;
    height: 14px;
    left: 7px; }
.chat-nav ul:nth-child(2) li:nth-child(2) a:before {
    background-image: url(../img/chat/4.svg);
    width: 14px;
    height: 14px;
    left: 9px; }
.chat-nav ul:nth-child(2) li:nth-child(3) a:before {
    background-image: url(../img/chat/5.svg);
    width: 13px;
    height: 15px;
    left: 9px; }
.chat-nav ul:nth-child(2) li:nth-child(4) a:before {
    background-image: url(../img/chat/8.svg);
    width: 13px;
    height: 13px;
    left: 9px; }
.chat-nav a {
    display: block;
    height: 32px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #92a1bd;
    text-decoration: none;
    padding-left: 28px;
    position: relative; }
.chat-nav a span {
    font-size: 12px; }
.chat-nav a:before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-size: cover; }
.chat-nav li.active a {
    background-color: #36445a;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff; }

.nav-bottom {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 13px 20px 13px 25px; }
.nav-bottom .lang {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
.nav-bottom .lang > span {
    font-size: 10px;
    display: inline-block;
    width: 46px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 24px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #151b2b;
    color: #92a1bd;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer; }
.nav-bottom .lang > span:first-child {
    -webkit-border-radius: 13px 0 0 13px;
    border-radius: 13px 0 0 13px; }
.nav-bottom .lang > span:last-child {
    -webkit-border-radius: 0 13px 13px 0;
    border-radius: 0 13px 13px 0; }
.nav-bottom .lang > span.active {
    background-color: #36445a;
    color: #151b2b;
    color: #fff; }
.nav-bottom .exit-chat img {
    width: 18px; }
