
.fancybox-skin {
    padding: 0 !important;
    background: transparent;
    /*height: 300px;*/
}
input,select{padding:0 10px;color:#8f9eb9}
.content-text{font:12px/16px Roboto;color:#92a1bd}
/*.content-text>span{font:16px/16px Roboto;color:#fff}*/
.content-title{padding:31px 0 27px;width:100%;height:auto;background:#333a4a;font:700 18px/16px Roboto;color:#fff;text-align:center}
.content-description{padding:18px 0 39px;background:#202b3c;height:109px;display:flex;flex-direction:column;
    justify-content:space-around;    align-items:center}

a{
    display: block;
    text-align: center;
    padding: 0;
    height: 30px;
    color: #ffffff;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    font:14px/29px Roboto;
}

.fancybox-item.fancybox-close {
    display: none;
}

/********** CLOSE POPUP BTN AREA**************/
.close-popup {
    position: absolute;
    background-color: rgb(234, 84, 95);
    left: 210px;
    top: 156px;
    width: 86px;
    height: 30px;
    z-index: 135;
}

/*********** CHANGE EMAIL AREA *************/

.change-email{
    border:1px solid #36445a;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    width:401px;
    box-sizing:border-box;
}

.change-email .content-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;}

.change-email .content-description {
    padding: 22px 0 22px 0;
    height: 182px;
}

.change-email .content-text, .change-password-container .content-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
}
.change-email .content-text label{
    padding-left: 10px;
    margin-bottom: 5px;
}
.change-email .content-text  input{
    border: 1px solid rgb(72, 72, 98);
    border-radius: 4px;
    background-color: rgb(54, 68, 90);
    width: 208px;
    height: 34px;
    margin-top: 5px;
}


.change-email .change-email-btn{
    display: flex;
    flex-direction: row;
    width: 210px;
    margin-top: 22px;
}


.change-email .change-email-btn .change-email-btn-confirm a{
    background: #36af47;
    width: 105px;
}

.change-email .change-email-btn .change-email-btn-close a{
    left: 213px;
    top: 249px;
}

/*********** END CHANGE EMAIL AREA *************/

/*********** CHANGE PASSWORD AREA *************/

.change-password-container .content-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
}

.change-password-container .content-text{
    height: 215px;
}

.change-password-container .content-description{
    padding: 18px 0 30px 0;
    height: 281px;
}

.change-password-container input{
    border: 1px solid rgb(72, 72, 98);
    border-radius: 4px;
    background-color: rgb(54, 68, 90);
    width: 208px;
    height: 34px;
    margin-top: 5px;
}

.change-password-container{
    border:1px solid #36445a;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;width:401px;box-sizing:border-box}

.change-password-container .change-password-btn{
    display: flex;
    flex-direction: row;
    width: 210px;
    margin-top: 30px;
}

.change-password-container .change-password-btn .change-email-btn-confirm a{
    width: 105px;
    background: #36af47;
}

.change-password-container .change-password-btn .change-email-btn-close a{
    width: 86px;
    top:342px;
}

/*********** END CHANGE PASSWORD AREA *************/

/*********** CHANGE PASSWORD AREA *************/

.content-setup-google{
    display:flex;
    flex-direction:column;border:1px solid #36445a;
    width:403px;
    height:570px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;box-sizing:border-box}

.content-setup-google .content-description>.content-text{
    max-width:339px;margin-left:-16px
}

.content-setup-google .content-description{padding:16px 0 24px 19px;height:456px}
.content-setup-google .content-connect-qrcode-bg{margin:24px 0 30px}
.content-setup-google .content-description .content-connect-setup-google .content-text{max-width:348px}
.content-connect-qrcode-bg{margin:0 auto 30px;width:144px;height:142px;background-color:#202b3c;box-shadow:0 0 6.79px .21px rgba(0,0,0,.26)}
.content-connect-qrcode{padding:5px 6px;width:132px;height:132px;text-align:center}
.content-connect-qrcode img{width:100%;height:100%}
.content-setup-google .content-description .content-connect-setup-google .content-text{max-width:348px}
.content-connect-setup-google .content-text p{padding-left:16px}
.content-connect-setup-google .content-text span{padding-left:16px;color:#fff}
.connect-setup-input{margin:19px 0 21px}
.connect-setup-input input{border:1px solid #484862;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    background-color:#36445a;width:355px;height:34px;box-sizing:border-box}
.connect-setup-google-btn{margin-top:25px;text-align:center}
.connect-setup-google-btn button{
    background:#5bae62;width:123px;height:30px;-webkit-border-radius:20px;
    -moz-border-radius:20px;border-radius:20px;color:#fff;font:14px/29px Roboto;
}

/*********** END CHANGE SETUP AREA *************/

/*********** START CHANGE USE AUNT AREA *************/

.content-enable-authen{border:1px solid #36445a;box-sizing:border-box;width:403px}
.content-enable-authen .content-description{padding:17px 0 26px;height:274px}
.content-enable-authen .content-text{max-width:209px;margin:0 auto;text-align:center}
.content-enable-bg{
    background:#202b3c;box-shadow:0 0 6.79px .21px rgba(0,0,0,.26);width:357px;height:166px;margin:21px 0 27px}
.content-enable-img{width:341px;height:152px;padding:7px 8px}
.content-enable-bg img{width:100%;height:100%}
.content-enable-btn a{
    background:#5bae62;
    width:94px;
    -webkit-border-radius:18px;
    -moz-border-radius:18px;
    border-radius:18px;}

/*********** END USE AUNT AREA *************/

/*********** START USE AUNT 2 AREA *************/
.content-connect-app{
    border:1px solid #36445a;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;box-sizing:border-box;width:401px;height:439px!important}
.content-connect-app .content-description{
    align-items:flex-start;padding:17px 15px 26px 20px;height:320px}
.content-connect-app .content-description .content-text{max-width:310px;margin-bottom:18px}
.content-connect-app .content-description .content-text>span{color:#fff}

.connect-enter-code-input{margin-right:19px}
.connect-enter-code-input input{
    border:1px solid #484862;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#36445a;width:198px;
    height:34px;padding-left:10px;color:#fff!important}
.connect-enter-code{display:flex;flex-direction:row;flex-wrap:wrap;align-items:center;justify-content:center}
.content-connect-enter-code .connect-enter-code .connect-enter-code-btn{
    margin-top: 5px;
}
.content-connect-enter-code .connect-enter-code .connect-enter-code-btn button{
    background-color:#5bae62;
    width:101px;
    height: 30px;
    color: #ffffff;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;border-radius:20px;}

/*********** END  USE AUNT 2 AREA *************/

/*********** START  SETUP TOTP AREA *************/

.content-setup-totp{
    border:1px solid #36445a;box-sizing:border-box}
.content-setup-totp{width:403px}
.content-setup-totp .content-description{padding:17px 17px 24px 19px;height:455px}
.content-setup-totp .content-description>.content-text{
    max-width:347px;margin-left:-19px}

/*********** END  SETUP TOTP AREA *************/

/*********** START  CHANGE API KEY AREA *************/
.change-api-key{
    border:1px solid #36445a;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;width:401px;box-sizing:border-box}

.change-api-key .change-api-btn{
    display: flex;
    flex-direction: row;
    width: 210px;
    justify-content: space-between;
}
.change-api-key .change-api-btn-confirm a{
    background: #36af47;
    width: 104px;
}


/*********** END CHANGE API KEY AREA *************/

/*********** START INVATE FRIENDS AREA *************/

.content-invite-friend{display:flex;flex-direction:column;border:1px solid #36445a;width:403px;box-sizing:border-box}
.content-invite-friend .content-description{padding:16px 18px 23px;height:434px;
    position: relative;}
.content-invite-gmail{margin:27px auto 26px}
.content-invite-gmail a{
    display:block;font:500 14px/29px Roboto;color:#fff;text-decoration:underline;position:relative;height:22px;width:144px;padding-left:38px}
.content-invite-gmail a:before{content:'';background:url(../img/gmail.svg) top center no-repeat;position:absolute;top:3px;left:0;
    display:inline-block;width:29px;height:22px}/*.content-invite-gmail a:hover{color:#92a1bd}*/
.content-invite-gmail-input{margin-bottom:24px}
.content-invite-gmail-input input{border:1px solid #484862;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    background:#36445a;width:355px;height:232px;box-sizing:border-box}
.content-invite-gmail-edit{margin-bottom:24px;position: relative}
.content-invite-gmail-edit textarea{
    border:1px solid #484862;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background:#36445a;
    max-width:355px;
    height:232px;
    resize:none;
    padding:10px;
    box-sizing:border-box;
    color:#fff;
}

.content-invite-gmail-btn{margin-top:37px}
.content-invite-gmail-btn button{
    background:#5bae62;
    width:131px;
    height: 30px;
    color: #ffffff;
    -webkit-border-radius:25px;-moz-border-radius:25px;border-radius:25px;
}

/*********** END INVATE FRIENDS AREA *************/

/*********** START DEACTIVATE CARD AREA ************/
.deactivate-card,.change-email,.change-password-container,
.change-api-key{
    border:1px solid #36445a;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;width:401px;box-sizing:border-box}


.deactivate-card .deactivate-btn{
    display: flex;
    flex-direction: row;
    width: 209px;
    justify-content: space-between;
}
.deactivate-card .deactivate-btn .deactivate-btn-confirm a{
    width: 102px;
    background: #36af47;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
}
.deactivate-card .deactivate-btn .deactivate-btn-close a{
    width: 87px;
    background: #ea545f;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
}

/*********** END  DEACTIVATE CARD AREA ************/

/*********** START CHANGE PAYMENT AREA ************/
.change-payment-method{
    border:1px solid #36445a;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;width:401px;box-sizing:border-box}

.change-payment-method .content-description{padding:27px 38px 36px;height:auto}

.content-change-payment-method .content-change-btn{display:flex;flex-direction:row;
    justify-content:space-between;width:210px;height:30px;margin-top:33px;
    position: relative;}

.content-change-payment-method .change-btn-confirm a{
    background:#5bae62;
    width:102px;
    border-radius: 15px;}
.content-change-payment-method .change-btn-close a{
    top: 0;
    left: 130px;
}
.content-edit-payment-method{border:1px solid #36445a;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;width:640px;box-sizing:border-box;display:flex;flex-direction:column;justify-content:center}
.content-edit-payment-method .content-description{padding:16px 31px 0 31px;height:540px;width:576px}
.edit-form-container{display:flex;flex-direction:column;font:14px/29px Roboto;color:#92a1bd;padding-bottom:5px}
.edit-form-list{display:flex;flex-direction:row}
.edit-form-container input,.edit-form-container select{
    background:#36445a;border:1px solid #484862;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    width:247px;height:34px;box-sizing:content-box;
    padding:0 15px 0 15px;color:#8f9eb9}
.edit-form-frow,.edit-form-srow{
    display:flex;flex-direction:column;justify-content:space-between;width:279px;height:450px
}
.edit-form-frow{margin-right:19px}
.edit-expiration-date{display:flex;flex-direction:row}
.content-subscribe-code select,.edit-country select,.expiration-date select{
    width:81px;height:36px;background:url(../img/btn-input.svg) 90% 50%/7% no-repeat #36445a;
    border:none;-webkit-border-radius:4px;
    -moz-border-radius:4px;border-radius:4px;padding-left:10px;display:inline-block;
    -webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;
    cursor:pointer;
}
.expiration-date select{width:95px}
.edit-country select{width:259px;background-size:3%;background-position:94% 50%}
.expiration-year{position:relative;margin:0 6px}.expiration-year input{width:64px}
.edit-exp-cvv input{width:45px; padding: 0 7px}
.edit-form-srow .edit-address-second:nth-child(3){margin-top: 9px}
.content-edit-payment-method .edit-form-btn{margin:20px auto 0;display:flex;flex-direction:row;width:210px;justify-content:space-between}
.content-edit-payment-method .edit-form-btn-confirm button{
    background:#5bae62;
    width:102px;
    border-radius: 20px;
   }
.content-edit-payment-method .edit-form-container .edit-form-btn .edit-form-btn-close a{
    left: 340px;
    top: 592px;
}

.edit-form-container input[type="tel"]{
    width: 219px;
}

/*********** END CHANGE PAYMENT AREA ************/


.content-subscribe{border:1px solid #36445a;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;width:640px;height:auto;box-sizing:border-box}
.content-subscribe .content-description{padding:0;height:auto}
.content-subscribe-title{background-color:#151b2b;opacity:.4;width:100%;display:flex;flex-direction:row;justify-content:space-between;
    align-items:center;font:12px/16px Roboto;color:#92a1bd;height:47px}
.content-subscribe-title>div{padding-left:31px}.content-subscribe-title div:nth-child(2){padding-right:42px}
.content-subscribe-code{padding:25px 41px 13px 30px;display:flex;flex-direction:row;justify-content:space-between;flex-wrap:wrap;max-width:568px;min-width:300px;width:100%}
.content-subscribe-code select{border:1px solid #596f91;background-color:#202b3c;background-position:98% 50%;background-size:2.5%;width:268px;height:32px;
    font:14px/16px Roboto;color:#fff!important;padding-left:8px}

.content-subscribe-information{display:flex;flex-direction:column;align-items:flex-end;width:224px}
.content-subscribe-sum{font:12px/29px Roboto;color:#fff;position:relative}
.content-subscribe-sum:before{content:'';background:url(../img/input-check.svg) no-repeat;position:absolute;top:4px;left:-25px;width:18px;height:18px}
.content-subscribe-btn{margin-top:85px;display:flex;flex-direction:row;justify-content:space-between;width:100%}
.subscribe-close a{
    top:260px;
    left: 360px;
    font:500 14px/29px Roboto;
}
.subscribe-save a{
    background-color:#5bae62;
    width:128px;
}
/*********** START SUBSCRIBE AREA ************/



/*********** RND SUBSCRIBE AREA ************/

@media screen and (max-width: 680px){

    .edit-form-list {
        flex-direction: column;
    }
    .edit-form-frow {
        margin-right: 0;
    }

    .content-edit-payment-method {
        width: 325px;
    }

    .content-edit-payment-method .content-description {
        padding: 16px 15px;
        height: 981px;
        width: 293px;
    }

    .content-edit-payment-method .edit-form-container .edit-form-btn .edit-form-btn-close a {
        left: 183px;
        top: 1035px;
    }

    .content-subscribe-code {
        padding: 15px 0;
        justify-content: center;
    }
    .subscribe-close a {
        top: 283px;
        left: 40px;
    }
    .content-subscribe{
        width: 300px;
        height: auto;
        overflow: visible;
    }
}

@media screen and (max-width: 540px) {
    /********* CLOSE POPUP BTN ***********/
    .change-email .change-email-btn .change-email-btn-close a{
        top:224px;
        left: 165px;
    }
    .change-password-container .change-password-btn .change-email-btn-close a{
        top: 316px;
        left: 165px;
    }

    .change-api-key .change-api-btn-close a{
        left: 165px;
        top: 130px;
    }

    .content-title{padding:16px 0;font:700 16px/16px Roboto}
    .content-text{font-size: 11px}
    .content-setup-google .content-description{padding:10px 10px 14px;height:auto}
    .connect-setup-input input, .content-setup-google input {
        width: 245px;
    }
    .content-setup-google .content-description>.content-text, .content-setup-totp .content-description>.content-text {
        margin-left: 0;
    }
    .connect-setup-input,.content-setup-google .content-connect-qrcode-bg{margin:14px 0 15px}
    .content-connect-setup-google .content-text span{font:12px/16px Roboto}
    .connect-setup-google-btn{margin-top:20px}
    .content-enable-bg {
        width: 298px;
        margin: 15px 0 17px;
    }
    .content-enable-img {
        width: 282px;
    }
    .content-connect-app .content-description{
        height: 346px;
    }

    .content-change-payment-method .content-change-btn {
        margin-top: 20px;
    }

    .content-edit-payment-method .content-description {
        padding: 16px 15px;
        height: 981px;
        width: 293px;
    }

    .deactivate-card, .change-email, .change-api-key, .change-password-container,
    .content-setup-google, .content-enable-authen, .content-connect-app, .content-setup-totp, .change-payment-method{
        width:300px;
        height:auto;
        overflow:visible}
    .content-change-payment-method .change-btn-close a {
        /*top: 192px;*/
        left: 125px;
    }

    .deactivate-card .deactivate-btn .deactivate-btn-close a{
        left: 160px;
        top: 130px;
    }

    .subscribe-close a {
        top: 257px;
        left: 40px;
    }

    .content-edit-payment-method .edit-form-container .edit-form-btn .edit-form-btn-close a {
        top: 1009px;
    }
}