::-webkit-input-placeholder{text-align:center;padding-top:100px}
textarea::-moz-placeholder{text-align:center;font:12px/16px Roboto;color:#8593ad;padding-top:40%!important}
:-ms-input-placeholder{text-align:center;padding-top:100px}
.give-get-title{font:16px/18px Roboto;color:#92a1bd;line-height:1.125}
.content-container .give-get-title span{font:18px/18px Roboto;color:#fff}
.referral-credit{display:flex;flex-direction:row}
.give-get-bg,.share-link-bg{flex-direction:column;display:flex}
.give-get{min-width:290px;width:100%;margin-right:9px}
.give-get-bg{margin-top:6px;padding:30px 20px 23px 20px;font:12px/16px Roboto;color:#92a1bd;background:#202b3c;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.give-get-description-1{max-width:325px;margin-bottom:25px}.content-container .give-get-description-2>span{font:14px/16px Roboto;color:#fff}
.give-get-description-2>div{margin:7px 0 25px;max-width:305px}
.give-get-btn a{
    display: block;
    width: 140px;
    padding: 0;
    background:#5bae62;
    -webkit-border-radius:20px;-moz-border-radius:20px;
    border-radius:20px;
    font:14px/29px Roboto;
    color:#fff}
.referral-share-link{min-width:290px;width:100%}
.share-link-bg{margin-top:6px;padding:30px 20px 23px 21px;font:12px/16px Roboto;color:#92a1bd;background:#202b3c;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.share-link-input input,.share-link-input label{font:14px/29px Roboto}.share-link-title{max-width:260px;margin-bottom:25px}
.share-link-input{min-width:180px;max-width:270px;width:100%;margin-bottom:32px}.share-link-input label{color:#92a1bd}
.share-link-input input{height:36px;width:100%;background:#36445a;border:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding-left:9px;color:#fff}
.share-link-btn button{width:71px;height:30px;background:#5bae62;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;font:14px/29px Roboto;color:#fff}
.content-block-2{margin-top:15px!important}
.referral-stats{
    display:flex;flex-direction:column;background:#202b3c;min-width:290px;width:100%;
    -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding:5px 0;
    font:12px/16px Roboto;color:#fff}
.referral-stats-event:nth-child(odd){background:#1c2535}
.referral-stat-click-text,.referral-stats-event{display:flex;flex-direction:row;height:38px;align-items:center}
.referral-stat-click-text{padding:0 20px}.referral-event{width:100px;margin-right:30px}
.referral-text{width:440px;min-width:160px;color:#92a1bd;margin-right:130px}
.referral-price{width:45px;font:14px/16px Roboto}
.referral-stats-event:last-child .referral-stat-click-text{color:#92a1bd}
.referral-stats-event:last-child{height: 35px}
@media screen and (max-width:1200px){.referral-text{margin-right:0}.referral-stats-event{justify-content:space-between}.referral-price{width:145px}}
@media screen and (max-width:1024px){.give-get,.referral-share-link{max-width:100%;margin-bottom:12px}.content-block-2{margin-top:0!important}
    .referral-stats-event{height:53px}
    .referral-credit,.referral-stat-click-text{flex-direction:column;align-items:flex-start;justify-content:space-between}
    .referral-stats-event:last-child .referral-stat-click-text{justify-content:flex-end}.referral-price{width:90px}}
@media screen and (max-width:820px){.referral-price{width:60px}.referral-text{width:240px}/*.referral-stats-event{height:53px}*/}
@media screen and (max-width:570px){.give-get{margin-right:0}.share-link-input input{width:90%}.referral-text{width:180px}
    .referral-stat-click-text{height:auto}.referral-stats-event{height:77px}
    .referral-stats-event:last-child{height: 47px}}

