.rt-menu{width:187px;min-width:146px;display:flex;flex-direction:column;background:#202b3c;}
.personal-information{
    height: 140px;display:flex;flex-direction:column;justify-content:center;align-items:center;border-bottom:1px solid #4e5663;
    padding-top:5px; margin-top: 20px;}
.personal-text{text-align:center}.name{font:12px/29px Roboto;color:#fff;line-height:1.2}
.personal-status,.rt-menu-list a{font:12px/29px Roboto}.name span{color:#92a1bd}
.personal-status{color:#36af47;margin-bottom:10px}
.rt-menu-list ul, .new-rt-menu ul{padding:8px 6px 0 7px;
    position: relative;}
.rt-menu-list li, .new-rt-menu li{padding-left:10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;text-align: left}
.rt-menu-list li:hover, .new-rt-menu li:hover{cursor: pointer}
.rt-menu-list li a:before, .new-rt-menu li a:before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-size: cover; }
.rt-menu-list li:nth-child(1) a:before {
    background-image: url(../img/account-xs.svg);
    width: 15px;
    height: 16px;
    left:0; }
.rt-menu-list li:nth-child(2) a:before {
    background-image: url(../img/billing-xs.svg);
    width: 15px;
    height: 15px;
    left:0; }
.rt-menu-list li:nth-child(3) a:before {
    background-image: url(../img/shopping-bag-xs.svg);
    width: 15px;
    height: 18px;
    left:0; }

.rt-menu-list li:nth-child(4) a:before {
    background-image: url(../img/paper-plane-xs.svg);
    width: 15px;
    height: 15px;
    left:0; }
.rt-menu-list li:nth-child(5) a:before {
    background-image: url(../img/envelope-xs.svg);
    width: 21px;
    height: 15px;
    left:0; }

.rt-menu-list li a{
    color:#92a1bd;
    position: relative;
    display: block;
    height: 32px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    padding-left: 28px;
}
.rt-menu-list li.active {background-color: #36445a;-webkit-border-radius: 5px;border-radius: 5px;}
.rt-menu-list li.active a{color: #ffffff}


@media screen and (min-width: 993px){
    .new-rt-menu{
        display: none;
    }
}
@media screen and (max-width: 992px) {

    .rt-menu{
        display: none;
    }

    .chat-nav ul.new-rt-menu{
        display: block;
    }

    .chat-nav ul.new-rt-menu li{
        padding-left: 0;
    }

    .new-rt-menu li a{
        height: 58px;
    }

    .new-rt-menu li:nth-child(1) a:before {
        background-image: url(../img/account-b.svg);
        width: 24px;
        height: 26px;
        left:0; }
    .new-rt-menu li:nth-child(2) a:before {
        background-image: url(../img/billing-b.svg);
        width: 26px;
        height: 23px;
        left:0; }
    .new-rt-menu li:nth-child(3) a:before {
        background-image: url(../img/shopping-bag-b.svg);
        width: 24px;
        height: 27px;
        left:0; }

    .new-rt-menu li:nth-child(4) a:before {
        background-image: url(../img/paper-plane-b.svg);
        width: 26px;
        height: 23px;
        left:0; }
    .new-rt-menu li:nth-child(5) a:before {
        background-image: url(../img/envelope-b.svg);
        width: 32px;
        height: 22px;
        left:0; }
}


@media screen and (max-width: 767px) {
    .new-rt-menu li:nth-child(1) a:before {
        background-image: url(../img/account-nm.svg);
        width: 17px;
        height: 19px;
        left:0; }
    .new-rt-menu li:nth-child(2) a:before {
        background-image: url(../img/billing-nm.svg);
        width: 18px;
        height: 18px;
        left:0; }
    .new-rt-menu li:nth-child(3) a:before {
        background-image: url(../img/shopping-bag-nm.svg);
        width: 18px;
        height: 21px;
        left:0; }

    .new-rt-menu li:nth-child(4) a:before {
        background-image: url(../img/paper-plane-nm.svg);
        width: 24px;
        height: 21px;
        left:0; }
    .new-rt-menu li:nth-child(5) a:before {
        background-image: url(../img/envelope-nm.svg);
        width: 25px;
        height: 17px;
        left:0; }
}
