.billing-alert-text input,.content-email-subscribe-link input,.custom-checkbox input{display:none}
.billing-alert-text label,.content-email-subscribe-link label,.custom-checkbox label{
    font-size:12px;color:#ffffff;cursor:pointer;position:relative;-webkit-transition:all .1s ease-in;transition:all .1s ease-in;
    -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.billing-alert-text label:before,.content-email-subscribe-link label:before,.custom-checkbox label:before{
    width:17px;height:17px;content:'';
    position:absolute;
    left:-30px;top:3px;
    -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
    -webkit-transition:all .1s ease-in;-moz-transition:all .1s ease-in;-ms-transition:all .1s ease-in;-o-transition:all .1s ease-in;
    transition:all .1s ease-in;
    background:url(../img/checked.svg) 50% 50%/0 no-repeat;
    border: 1px solid #92A1BD; box-sizing: border-box}
.content-email-subscribe-link label:before{top:-1px}
/*.billing-alert-text input:checked+label,.custom-checkbox input:checked+label{color:#fff}*/
.billing-alert-text input:checked+label:before,.content-email-subscribe-link input:checked+label:before,
.custom-checkbox input:checked+label:before{
background:url(../img/checked.svg) 50% 50%/10px no-repeat #36AF47;
border: transparent;}

