button{height:30px;color:#fff}input{color:#fff!important}.content-container{padding-bottom:0!important}
.content-personal-information{padding:30px 0 25px 16px!important}
.payment{display:flex;flex-direction:column;flex-wrap:nowrap}
.payment-information{display:flex;flex-direction:row;justify-content:flex-start}
.payment-information-description{font:12px/29px Roboto;color:#92a1bd}
.payment-information-account,.payment-information-cart,
.payment-information-method{display:flex;flex-direction:row;justify-content:space-between;min-width:418px}
.payment-information-account div:nth-child(2),.payment-information-cart div:nth-child(2),
.payment-information-method div:nth-child(2){min-width:175px;font:500 14px/29px Roboto;color:#fff}
.payment-information-btn{display:flex;flex-direction:row;justify-content:flex-start;margin-top:36px}
.payment-information-btn button{font:14px/29px Roboto}
.payment-information-btn-change{margin-right:16px}
.payment-information-btn-change a{
    width:212px;
    background:#5bae62;
    border-radius:30px;
    display: block;
    padding: 1px 0;
    text-align: center;
    color: #ffffff
}
.payment-information-btn-deactivate a{
    width:106px;
    display: block;
    padding: 1px 0;
    background:#ea545f;
    border-radius:25px;
    text-align: center;
    color: #ffffff}
.output-credit-cart, .output-method, .output-account{height: 30px}
.content-block-2{margin-top:20px!important}
.billing-alert{display:flex;flex-direction:column;background:#202b3c;padding:13px 0 20px 20px}
.billing-alert-enter,.billing-alert-msg{display:flex;flex-direction:row;align-items:center}
.billing-alert-img{margin-right:20px;width:18px;height:18px}
.billing-alert-img img{width:100%;height:100%}
.billing-alert-input input,.promo-code-input input{height:36px;font:12px/16px Roboto}
.billing-alert-text{max-width:345px;font:12px/16px Roboto;color:#fff;padding-left:30px;text-align:left}
.billing-alert-enter{margin-top:24px;align-content:center}.billing-alert-input{margin-right:14px}
.billing-alert-input input{
    width:76px!important;
    background:#36445a;
    border:none;
    text-align:center;
    border-radius:5px;
color: #ffffff!important;}
.billing-alert-input input::-webkit-outer-spin-button,
.billing-alert-input input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;}
.content-block-2 .billing-alert-btn button{
    margin:0;width:59px;
    background: #5bae62;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font: 14px/29px Roboto;
}
.promo-code{display:flex;flex-direction:column;background:#202b3c;padding:14px 0 21px 17px}
.promo-code-description{font:12px/16px Roboto;color:#8f9eb9;max-width:325px}
.promo-code-enter{display:flex;flex-direction:row;margin-top:22px}.promo-code-input{margin-right:36px}
.promo-code-input input{
    width:271px;background:#36445a;border:none;padding-left:10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.promo-code-apple{
    margin-top: 3px;
}
.promo-code-apple a{
    width:115px;
    color: #ffffff;
    height: 30px;
    padding: 0;
    text-align: center;
    display: block;
    background:#5bae62;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    font:14px/29px Roboto}
.invoice-table table,.invoice-text,.slider-table table{font:12px/29px Roboto;color:#92a1bd}
.invoice{background:#202b3c;display:flex;flex-direction:column}.invoice-text{padding:25px 0 20px 17px}
.invoice-table{max-width:100%}.invoice-table table,.slider-table table{border-collapse:collapse;width:100%}.invoice-table tr,.slider-table tr{height:38px}.invoice-table tr>td,.slider-table tr>td{padding-left:17px}.invoice-table thead{color:#fff;background:#1c2535}.invoice-table td.td-date,.slider-table td.td-date{width:16.1%}.invoice-table td.td-img{width:14%}.slider-table td.td-img{width:14%;vertical-align:middle}.slider-table td.td-img a{display:inline-block;width:16px;height:19px;vertical-align:middle;padding-left:17px}.slider-table td.td-img a img{width:16px;height:19px}.invoice-table td.td-description{width:27.2%}.slider-table td.td-description{width:27.2%;padding:10px 65px 5px 17px;line-height:1.4}.slider-table td.td-type{width:25.2%;padding:10px 65px 5px 17px;line-height:1.4}.invoice-table td.td-amount,.slider-table td.td-amount{width:17.6%;padding-left:15px;color:#fff}.pager-arrows{margin:20px auto 23px;width:100px;height:26px;display:flex;flex-direction:row;align-items:end}.pager-arrows .pager-arrow{background:url(../img/pager-arrow.svg) center no-repeat;width:28px;height:27px;display:inline-block}.pager-arrows .prev-btn{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.number-pages{margin:0 auto}.number-pages span{font:12px/16px Roboto;color: #fff!important;}
/*.number-pages span.first-number-page{font-size:16px;color:#fff}*/
@media screen and (max-width:1024px){
    .invoice-table td.td-date,.slider-table td.td-date{width:22.3%}
    .invoice-table td.td-img,.slider-table td.td-img{width:17.5%}
    .invoice-table td.td-description,.slider-table td.td-description{width:22.3%}
    .invoice-table td.td-type,.slider-table td.td-type{width:27.6%}
    .invoice-table td.td-type{padding-left:22px}
    .invoice-table td.td-amount,.slider-table td.td-amount{width:10.1%;padding-right:5px}}
@media screen and (max-width:940px){
    .invoice-table td.td-type,.slider-table td.td-description,.slider-table td.td-type{padding-right:35px}}
@media screen and (max-width:800px){.slider-table td.td-description{padding-right:25px}}
@media screen and (max-width:768px){.invoice-table tr>td,.slider-table tr>td{padding-left:10px}
    .invoice-table td.td-description{padding-left:17px}
    .slider-table td.td-description,.slider-table td.td-type{padding-right:5px}}
@media screen and (max-width:702px){
    .payment-information-account,.payment-information-cart,.payment-information-method{flex-direction:column;min-width:200px}
    .payment-information-btn{flex-direction:column;margin-top:10px}.payment-information-btn-change{margin-bottom:10px}
    .payment-information-btn-deactivate a{width:212px}.promo-code-enter{flex-direction:column}
    .promo-code-apple{margin-top:10px}.invoice-table td.td-date{line-height:1.3}
    .invoice-table table,.slider-table table{font-size:11px}}
@media screen and (max-width:670px){
    .slider-table td.td-img a{padding-left:17px}.slider-table td.td-img{padding:0}
    .invoice-table table,.slider-table table{font-size:10px}}
@media screen and (max-width:604px){
    .promo-code-input input{width:235px}.invoice-table tr>td,.slider-table tr>td{padding-left:5px;text-align:center}
    .invoice-table td.td-date{padding-left:1px;text-align:center;width:59px}.slider-table td{padding:0}
    .slider-table td.td-date{width:59px}.invoice-table td.td-img,.slider-table td.td-img{width:54px;text-align:center;padding:0}
    .slider-table td.td-img img{margin:0 auto}
    .invoice-table td.td-description,.slider-table td.td-description{width:56px;text-align:left}
    .slider-table td.td-type{text-align:left}.invoice-table td.td-type{padding-left:12px;text-align:center}
    .slider-table td.td-type{padding:0}.invoice-table td.td-amount,.slider-table td.td-amount{width:43px;padding:0 0 0 5px}
    .invoice-table td.td-amount{padding:0 5px}.invoice-table table,.slider-table table{font-size:8px}}
@media screen and (max-width:561px){.invoice-table table,.slider-table table{font-size:7px}}
@media screen and (max-width:515px){
    .invoice-table td.td-description,.slider-table td.td-description {padding:0 5px 0 0;}
}