input,select{padding:0 10px;color:#8f9eb9}
.content-title{padding:31px 0 27px;width:100%;height:auto;background:#333a4a;font:700 18px/16px roboto;color:#fff;text-align:center}
.content-description{padding:18px 0 39px;background:#202b3c;height:109px;display:flex;flex-direction:column;justify-content:space-around;align-items:center}
.content-text{font:12px/16px roboto;color:#92a1bd}
/*
.change-payment-method-popup,.connect-use-totp-popup,.connect-view-api-popup,.content-apple-code-popup,.content-change-payment-method,
.google-popup,.invite-friend-popup,.next-step-use-popup,.second-step-auth-popup,
.use-authentication-popup,.deactivate-card-popup,.change-email-popup,.change-password-popup,
.change-api-key-popup{
    display:none;
    position:absolute;
    top:50%;left:50%;
    overflow:auto;
    margin-top:-285px;margin-left:-200px;
    z-index:99999999;
}*/

.change-payment-method-popup select{color:#8f9eb9!important}
.change-password-popup{
    margin-top: -200px;
}
.deactivate-card-popup, .change-api-key-popup{margin-top: -100px}
.deactivate-card .content-description {
    padding: 18px 0 35px 0;
    height: 76px;
    justify-content: space-between;
}
.deactivate-card .deactivate-btn{
    display: flex;
    flex-direction: row;
    width: 209px;
    justify-content: space-between;
}
.deactivate-card .deactivate-btn .deactivate-btn-confirm a{
    display: block;
    text-align: center;
    padding: 6px 0;
    width: 102px;
    color: #ffffff;
    background: #36af47;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
}
.deactivate-card .deactivate-btn .deactivate-btn-close a{
    width: 87px;
    display: block;
    text-align: center;
    padding: 6px 0;
    background: #ea545f;
    color: #ffffff;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
}
.content-setup-google{display:flex;flex-direction:column;border:1px solid #36445a;width:403px;height:570px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;box-sizing:border-box}
.content-setup-google .content-description>.content-text{max-width:339px;margin-left:-16px}
.content-setup-google .content-description{padding:16px 0 24px 19px;height:456px}
.content-setup-google .content-connect-qrcode-bg{margin:24px 0 30px}
.connect-setup-input{margin:19px 0 21px}
.connect-setup-input input{border:1px solid #484862;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    background-color:#36445a;width:355px;height:34px;box-sizing:border-box}
.content-setup-google .content-description .content-connect-setup-google .content-text{max-width:348px}
.content-connect-setup-google .content-text p{padding-left:16px}
.content-connect-setup-google .content-text span{padding-left:16px;color:#fff}
.connect-setup-google-btn{margin-top:25px;text-align:center}
.connect-setup-google-btn button{
    background:#5bae62;width:123px;height:30px;-webkit-border-radius:20px;
    -moz-border-radius:20px;border-radius:20px;color:#fff;font:14px/29px roboto}
.second-step-auth-popup{margin-top:-220px}
.content-connect-app{
    border:1px solid #36445a;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;box-sizing:border-box;width:401px;height:439px!important}
.content-connect-app .content-description{
    align-items:flex-start;padding:17px 15px 26px 20px;height:320px}
.content-connect-qrcode-bg{margin:0 auto 30px;width:144px;height:142px;background-color:#202b3c;box-shadow:0 0 6.79px .21px rgba(0,0,0,.26)}
.content-connect-qrcode{padding:5px 6px;width:132px;height:132px;text-align:center}.content-connect-qrcode img{width:100%;height:100%}
.content-connect-app .content-description .content-text{max-width:310px;margin-bottom:18px}
.content-connect-app .content-description .content-text>span{color:#fff}
.connect-enter-code-input{margin-right:19px}
.connect-enter-code-input input{
    border:1px solid #484862;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#36445a;width:198px;
    height:34px;padding-left:10px;color:#fff!important}
.connect-enter-code{display:flex;flex-direction:row;flex-wrap:wrap;align-items:center;justify-content:center}
.content-connect-enter-code .connect-enter-code .connect-enter-code-btn button{
    background-color:#5bae62;width:101px;height:30px;-webkit-border-radius:20px;
    -moz-border-radius:20px;border-radius:20px;color:#fff;font:14px/29px roboto}
.use-authentication-popup{margin-top:-195px}
.content-enable-authen{border:1px solid #36445a;box-sizing:border-box;width:403px}
.content-enable-authen .content-description{padding:17px 0 26px;height:274px}
.content-enable-authen .content-text{max-width:209px;margin:0 auto;text-align:center}
.content-enable-bg{
    background:#202b3c;box-shadow:0 0 6.79px .21px rgba(0,0,0,.26);width:357px;height:166px;margin:21px 0 27px}
.content-enable-img{width:341px;height:152px;padding:7px 8px}
.content-enable-bg img{width:100%;height:100%}
.content-enable-btn a{
    background:#5bae62;
    display: block;
    text-align: center;
    width:94px;
    padding: 6px 0;
    -webkit-border-radius:18px;
    -moz-border-radius:18px;border-radius:18px;color:#fff}
.content-api-key,.content-setup-totp{
    border:1px solid #36445a;box-sizing:border-box}
.content-setup-totp{width:403px}
.content-setup-totp .content-description{padding:17px 17px 24px 19px;height:455px}
.content-setup-totp .content-description>.content-text{
    max-width:347px;margin-left:-19px}
.connect-view-api-popup{margin-top:-120px;margin-left:-200px;z-index:99999999}
.content-api-key{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;width:401px;height:auto}
.view-change .content-api-input input{text-align:center;color:#8f9eb9;font:12px/29px roboto}
.view-change .connect-view-api-popup .content-api-key .content-api-input input:focus{color:#8f9eb9!important}
.invite-friend-popup{margin-top:-275px}
.content-invite-friend{display:flex;flex-direction:column;border:1px solid #36445a;width:403px;box-sizing:border-box}
.content-invite-friend .content-description{padding:16px 18px 23px;height:434px;
    position: relative;}
.content-invite-gmail{margin:27px auto 26px}
.content-invite-gmail a{
    display:block;font:500 14px/29px roboto;color:#fff;text-decoration:underline;position:relative;height:22px;width:144px;padding-left:38px}
.content-invite-gmail a:before{content:'';background:url(../img/gmail.svg) top center no-repeat;position:absolute;top:3px;left:0;
    display:inline-block;width:29px;height:22px}/*.content-invite-gmail a:hover{color:#92a1bd}*/
.content-invite-gmail-input{margin-bottom:24px}
.content-invite-gmail-input input{border:1px solid #484862;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    background:#36445a;width:355px;height:232px;box-sizing:border-box}
.content-invite-gmail-edit{margin-bottom:24px;position: relative}
.content-invite-gmail-edit textarea{
    border:1px solid #484862;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background:#36445a;
    max-width:355px;
    height:232px;
    resize:none;
    padding:10px;
    box-sizing:border-box;
    color:#fff;
}
.content-container .content-invite-gmail-edit span{
    position:absolute;
    top:205px;
    left:93px;
    font:12px/29px roboto!important;
}
.content-invite-gmail-edit textarea:focus~span{display:none}
.content-invite-friend .content-text>span{font:16px/16px roboto;color:#fff}
.content-invite-gmail-btn{margin-top:37px}
.content-invite-gmail-btn a{
	background:#5bae62;
	display:block;
	text-align:center;
	width:131px;
	padding: 6px 0;
	-webkit-border-radius:25px;-moz-border-radius:25px;border-radius:25px;
	color:#fff}
.change-payment-method-popup{
    margin-top:-314px;
    margin-left:-320px;
    /*width:100%;
    height:100%;*/
}
.content-edit-payment-method{border:1px solid #36445a;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;width:640px;box-sizing:border-box;display:flex;flex-direction:column;justify-content:center}
.content-edit-payment-method .content-description{padding:16px 31px 0 31px;height:540px;width:575px}
.edit-form-container{display:flex;flex-direction:column;font:14px/29px roboto;color:#92a1bd;padding-bottom:5px}
.edit-form-list{display:flex;flex-direction:row}
.edit-form-container input,.edit-form-container select{
    background:#36445a;border:1px solid #484862;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    width:247px;height:34px;box-sizing:content-box;
    padding:0 15px 0 15px;color:#8f9eb9}
.edit-form-frow,.edit-form-srow{display:flex;flex-direction:column;justify-content:space-between;width:279px;height:450px}
.edit-form-frow{margin-right:19px}
.edit-expiration-date{display:flex;flex-direction:row}
.content-subscribe-code select,.edit-country select,.expiration-date select{
    width:81px;height:36px;background:url(../img/btn-input.svg) 90% 50%/7% no-repeat #36445a;border:none;-webkit-border-radius:4px;
    -moz-border-radius:4px;border-radius:4px;padding-left:10px;display:inline-block;
    -webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;cursor:pointer}
.expiration-date select{width:95px}
.edit-country select{width:259px;background-size:3%;background-position:94% 50%}
.expiration-year{position:relative;margin:0 6px}.expiration-year input{width:64px}
.edit-exp-cvv input{width:35px; padding: 0 7px}
.edit-form-srow .edit-address-second:nth-child(3){margin-top: 8px}
.content-edit-payment-method .edit-form-btn{margin:20px auto 0;display:flex;flex-direction:row;width:210px;justify-content:space-between}
.content-edit-payment-method .edit-form-btn-confirm a{
    display: block;
    text-align: center;
    background:#5bae62;
    width:102px;height:30px;
    color:#fff;-webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px}
.content-edit-payment-method .edit-form-container .edit-form-btn .edit-form-btn-close a{
    background:#ea545f;width:86px;
    color:#fff;border-radius:15px;
    display: block;
    text-align: center;
}

/*

.content-change-payment-method,.change-email-popup{margin-top:-130px}
.change-payment-method, .deactivate-card,.change-email,.change-password-container,
.change-api-key{
    border:1px solid #36445a;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;width:401px;box-sizing:border-box}
*/


.change-payment-method .content-description{padding:27px 38px 36px;height:125px}
.change-email-popup{
    margin-top: -150px;
}
.change-email .content-description {
    padding: 22px 0 22px 0;
    height: 182px;
}
.change-email .content-text, .change-password-container .content-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
}
.change-email .content-text label{
    padding-left: 10px;
    margin-bottom: 5px;
}
.change-email .content-text  input, .change-password-container input{
    border: 1px solid rgb(72, 72, 98);
    border-radius: 4px;
    background-color: rgb(54, 68, 90);
    width: 208px;
    height: 34px;
    margin-top: 5px;
}

.change-email .change-email-btn, .change-password-container .change-password-btn{
    display: flex;
    flex-direction: row;
    width: 210px;
    justify-content: space-between;
}
.change-email .change-email-btn .change-email-btn-confirm a,
.change-password-container .change-password-btn .change-email-btn-confirm a,
.change-api-key .change-api-btn-confirm a{
    padding: 6.5px 24px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    background: #36af47;
    color: #ffffff;
}
.change-email .change-email-btn .change-email-btn-close a,
.change-password-container .change-password-btn .change-email-btn-close a,
.change-api-key .change-api-btn-close a{
    padding: 6.5px 25px;
    width: 86px;
    background: #ea545f;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    color: #ffffff;
}

.change-password-container .content-description{
    padding: 18px 0 30px 0;
    height: 281px;
}

.change-email .change-email-btn, .change-api-key .change-api-btn{
    display: flex;
    flex-direction: row;
    width: 210px;
    justify-content: space-between;
}

.change-password-container .content-description{
    padding: 18px 0 30px 0;
    height: 281px;
}

.change-password-container .content-text{
    height: 215px;
}

.change-api-key .content-description{
    padding: 17px 0 35px 0;
    height: 79px;
    justify-content: space-between;
}



.content-change-payment-method .content-change-btn{display:flex;flex-direction:row;justify-content:space-between;width:210px;height:30px;margin-top:33px}
.content-change-payment-method .content-change-btn button{height:30px;color:#fff;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px}
.content-change-payment-method .change-btn-confirm a{background:#5bae62;width:102px;    display: block;
    text-align: center;
    padding: 6px 0;
    border-radius: 15px;
    color: #ffffff;}
.content-change-payment-method .change-btn-close a{
    background:#ea545f;
    width:86px;
    display: block;
    text-align: center;
    padding: 6px 0;
    border-radius: 15px;
    color: #ffffff;
}
.content-subscribe{border:1px solid #36445a;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;width:640px;height:auto;box-sizing:border-box}
.content-subscribe .content-description{padding:0;height:auto}
.content-subscribe-title{background-color:#151b2b;opacity:.4;width:100%;display:flex;flex-direction:row;justify-content:space-between;align-items:center;font:12px/16px roboto;color:#92a1bd;height:47px}
.content-subscribe-title>div{padding-left:31px}.content-subscribe-title div:nth-child(2){padding-right:42px}
.content-subscribe-code{padding:25px 41px 13px 30px;display:flex;flex-direction:row;justify-content:space-between;flex-wrap:wrap;max-width:568px;min-width:300px;width:100%}
.content-subscribe-code select{border:1px solid #596f91;background-color:#202b3c;background-position:98% 50%;background-size:2.5%;width:268px;height:32px;font:14px/16px roboto;color:#fff!important;padding-left:8px}

.content-subscribe-information{display:flex;flex-direction:column;align-items:flex-end;width:224px}
.content-subscribe-sum{font:12px/29px roboto;color:#fff;position:relative}
.content-subscribe-sum:before{content:'';background:url(../img/input-check.svg) no-repeat;position:absolute;top:4px;left:-25px;width:18px;height:18px}
.content-subscribe-btn{margin-top:85px;display:flex;flex-direction:row;justify-content:space-between;width:100%}
.content-subscribe-btn a{
    display: block;
    height:30px;
    text-align: center;
    color:#fff
}
.subscribe-close a{

    background-color:#ea545f;
    width:86px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    font:500 14px/29px roboto;
    text-align: center;}
.subscribe-save a{
    background-color:#5bae62;
    width:128px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    font:14px/29px roboto;
    }
.content-apple-code-popup{margin-top:-155px;margin-left:-320px}
.content-api-input input{border:1px solid #484862;background-color:#36445a;width:288px;height:34px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}

@media screen and (max-width:680px){.change-payment-method-popup,.content-apple-code-popup{margin-left:-170px}
    .content-edit-payment-method,.content-subscribe{width:325px}
    .content-subscribe-code{padding:15px 0;justify-content:center}
    .content-subscribe-btn,.content-subscribe-information{margin-top:40px}
    .edit-form-list{flex-direction:column}
    .content-edit-payment-method .content-description{padding:16px 15px;height:981px;width:293px}
    .edit-form-frow{margin-right:0}.edit-form-srow .edit-address-second:nth-child(3){margin-top:0}}
@media screen and (max-width:540px){
    .change-payment-method-popup,.connect-use-totp-popup,.connect-view-api-popup,.content-apple-code-popup,
    .content-change-payment-method,.google-popup,.invite-friend-popup,.next-step-use-popup,
    .second-step-auth-popup,.use-authentication-popup, .deactivate-card-popup,.change-email-popup,
    .change-api-key-popup{
        margin-left:-150px}
    .change-payment-method-popup{margin-left:-160px}.content-title{padding:16px 0;font:700 16px/16px roboto}
    .content-text{font-size:11px}.google-popup{margin-top:-250px}
    .change-payment-method,.content-api-key,.content-connect-app,.content-enable-authen,
    .content-invite-friend,.content-setup-google,.content-setup-totp,
    .content-subscribe, .deactivate-card, .change-email, .change-api-key{
        width:300px;height:auto;overflow:visible}
    .content-setup-google .content-description{padding:10px 10px 14px;height:auto}
    .second-step-auth-popup .content-description{height:345px}
    .connect-enter-code-btn{margin-top:15px}
    .content-setup-google .content-description>.content-text,.content-setup-totp .content-description>.content-text{margin-left:0}
    .connect-setup-input,.content-setup-google .content-connect-qrcode-bg{margin:14px 0 15px}
    .connect-setup-input input,.content-setup-google input{width:245px}
    .content-connect-setup-google .content-text span{font:12px/16px roboto}.connect-setup-google-btn{margin-top:20px}
    .use-authentication-popup{margin-top:-185px}.content-enable-bg{width:298px;margin:15px 0 17px}
    .content-enable-img{width:282px}.change-payment-method>.content-description{height:auto;padding:18px 5px 15px}
    .content-invite-gmail-edit textarea{max-width:270px}.content-change-payment-method .content-change-btn{margin-top:20px}
    .content-invite-gmail-input input{width:265px}.content-container .content-invite-gmail-edit span{left:40px}}