.content-block-1>span{font:16px/18px Roboto!important}
.my-subscription{margin-top:14px;background:#202b3c;padding:23px 0 0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.my-subscription-title{font:12px/29px Roboto;color:#92a1bd;padding-left:19px;margin-bottom:10px}
.my-subscription-table table{width:100%;font:12px/29px Roboto;color:#fff;border-collapse:collapse}
.my-subscription-table thead{background:#1c2535}.my-subscription-table tr{height:38px;margin-bottom:25px}
.my-subscription-table td:first-child{padding-left:19px}
.my-subscription-table tbody,.my-subscription-table tbody span{font:12px/29px Roboto;color:#92a1bd}
.my-subscription-table tbody .td-price{font:16px/29px Roboto;color:#fff}
.my-subscription-table tbody .td-status img{vertical-align:-15%;margin-left:3px}
.td-status img{width:18px;height:18px}.my-subscription-table tbody td{padding:30px 0}
.td-product{width:22.26%}.td-price{width:21.16%}.td-last-billed{width:19.3%}.td-status{width:17.79%}
.td-action{width:21.5%}
.td-action button{
    width:59px;height:30px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background:#5bae62;font:14px/29px Roboto;color:#fff}
@media screen and (max-width:900px){.td-last-billed,.td-product{width:23.5%}.td-price,.td-status{width:18.3%}.td-action{width:11.2%}}
@media screen and (max-width:640px){.my-subscription-table td:first-child{padding-left:5px}
    .td-action button{width:49px;font:12px/29px Roboto;}}
@media screen and (max-width:540px){.td-last-billed,.td-product{width:90px}
    .my-subscription-table tbody td.td-action{padding-right: 10px}
}
@media screen and (max-width:515px){.content-block-1{padding-top:10px}
    .my-subscription-table tbody td{padding:15px 0}
    .td-action button{height:25px}
    .my-subscription-table tbody .td-price{font:12px/29px Roboto}
    .td-product{width:26%}.td-price{width:12%}}
/*
@media screen and (max-width: 515px){
    .content .content-container {
        height: calc(100vh - 401px)!important;}
}*/
