*,body,html{margin:0;padding:0}.content,.layout, .content-big-height, .content-big-height-1{flex-direction:row;display:flex}*,button{outline:0;border:none}
.fb:hover,.google:hover,.vk:hover,button:focus,button:hover{cursor:pointer}
*{list-style-type:none;text-decoration:none}
body,html{height:100%}
#wrapper,.layout{margin:0 auto;position:relative;overflow: hidden}
[placeholder]::-webkit-input-placeholder{font:12px/16px Roboto;color:#8593ad}
[placeholder]:-moz-placeholder{font:12px/16px Roboto;color:#8593ad}
textarea[placeholder]::-moz-placeholder{padding-top:100px}
[placeholder]:-ms-input-placeholder{font:12px/16px Roboto;color:#8593ad}
[placeholder]:focus::-webkit-input-placeholder{color:transparent!important}
[placeholder]:focus:-moz-placeholder{color:transparent!important}
[placeholder]:focus::-moz-placeholder{color:transparent!important}
[placeholder]:focus:-ms-input-placeholder{color:transparent!important}
input{
    box-sizing: border-box;
    color:#fff}
input:focus{color:#fff!important}
input[type=number]{color:#8f9eb9;font:14px/16px Roboto}
input:read-only{color:#8f9eb9!important;font:14px/16px Roboto}

form label.error{
    display: none!important;
}
.error{
    border:1px solid red!important;
}
#wrapper{min-width:320px;min-height:100%;height:auto;background:#dad3d3;overflow:hidden}
.layout{max-width:100%;justify-content:center}
.content{flex-wrap:nowrap;/*min-height:100vh*/  height: -webkit-calc(100% - 61px); height: calc(100% - 61px);}
.content-big-height{height: -webkit-calc(100% - 61px);height: calc(100% - 61px);}
.content-big-height-1{height: -webkit-calc(100% - 61px);height: calc(100% - 61px);}
.chat-page-wrapper {min-height: 600px;min-height: 100vh;max-width: 100vw;overflow-x: hidden;-webkit-transition: height .2s ease;transition: height .2s ease;}
.flex {display: flex;}
.content-container{padding:29px 30px 5px 13px;background:#333949;width:100%;min-width:250px;}
.content-container span{color:#92a1bd;font:16px/29px Roboto}
.content-block-1{min-width:680px}
.content-personal-information{
    background:#202b3c;
    padding:10px 0 14px 21px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.content-personal-information-width{
    display:flex;
    flex-direction:row;
    max-width: 930px;
}

.content-personal-information-width label{font:14px/29px Roboto;color:#92a1bd}
.content-fname-phone{margin-right:37px}
.content-other{display:flex;flex-direction:column}
.country-code,.country-code>div{display:flex;flex-direction:row}
.first-name,.last-name{margin-bottom:33px}
.country-code{min-width:250px;width:100%;justify-content:space-between}
.country-code>div{justify-content:space-between}
.first-name input,.last-name input,.phone input{
    width:279px;height:36px;background:#36445a;border:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding:0 10px;color:#fff}
}
.country-div{margin-right:8px}
.country-div select{
    width:145px;height:36px;background:url(../img/btn-input.svg) 94% 50%/5% no-repeat #36445a;border:none;-webkit-border-radius:5px;
    -moz-border-radius:5px;border-radius:5px;
    padding-left:5px;
    display:inline-block;
    -webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;
    cursor:pointer}
select option{
    color:#8f9eb9,
    background-color: #202b3c;}
.country-div{
    margin-right: 8px;
}

.country-div input{
    width: 148px;
    border: 1px solid transparent;
}
.country-div select.select-country option:hover{
    background-color: red;!important;
    box-shadow: 0 0 10px 100px #1882A8 inset;
}
/*
.header-content{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 1000px;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}*/

/* .header-content:after{
    position: absolute;
    content: '';
    left: 78px;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    !*display: none; *!}*/

select{color:#fff!important}
.code input{
    color:#fff;width:124px;height:36px;
    background:#36445a;
    border:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding:0 10px

}
.last-name img{margin-left:12px;vertical-align:middle;width:18px;height:18px}
.button-save{width:59px;height:30px;margin:133px 16px 0 auto}
.button-save button{
    width:59px;
    height: 30px;
    background:#5bae62;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    text-align: center;
    color:#fff;
    font-size:14px;
    font-family:'Roboto';  }
.email-address-container,.pass-container{-webkit-border-radius:5px;-moz-border-radius:5px}
.content-block-2{min-width:680px}
.content-email-pass-container{display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:space-between;margin-top:15px}
.email-address{min-width:270px;width:100%;margin-right:20px}.email-address-container{padding:31px 0 40px 22px;background:#202b3c;height:106px;border-radius:5px}
.current-email-pass{font:14px/29px Roboto;color:#92a1bd}
.email-address-text{margin-bottom: 31px}
.email-address-text, .password-text{font:500 14px/29px Roboto;color:#fff; height: 29px}
.password-text{color:#92a1bd; margin-bottom: 31px}
.content-block-2 a{
    background:#5bae62;
    padding: 1px 0;
    width:202px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
/*    margin-top:31px*/
}

.change-password{min-width:250px;width:100%}
.pass-container{padding:30px 0 41px 21px;background:#202b3c;height:106px;border-radius:5px}
.change-password a{width:177px}.content-block-3{margin-top:15px;min-width:502px}
.authent-btn{justify-content:flex-start;width:390px;margin-top:15px;display:flex;flex-direction:row}
.social-connect,.view-change{display:flex;flex-direction:row}
.authentication-container>span{font-weight:500}
.authent{background:#202b3c;padding:32px 0 34px 22px;height:64px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.authent>span{font:12px/29px Roboto}
.authent-btn a{
    display: block;
    padding: 0;
    text-align: center;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    background: #5bae62;
    color: #ffffff;
    margin-right:20px}

.authent-btn-1 a{
    width:139px;
}
.authent-btn-2 a{
    width:95px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px}
.authent-btn-3 a{
    width:139px;
    -webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px}
.api,.social{-webkit-border-radius:5px;-moz-border-radius:5px}.content-block-4{margin-top:15px;min-width:680px}
.social-container span{font:16px/16px Roboto}.social{margin-top:7px;background:#202b3c;padding:15px 0 26px 23px;height:148px;border-radius:5px}
.social-text{width:345px;font:12px/16px Roboto;color:#92a1bd}
.social-connect{margin-top:30px;width:240px;height:66px}
.fb,.vk{width:44px;height:45px;margin:0 auto}
.fb{background:url(../img/fb.svg) no-repeat}.vk{background:url(../img/vk.svg) no-repeat}
.social-connect-vk{margin:0 35px}.google{background:url(../img/google.svg) no-repeat;width:45px;height:46px;margin:0 auto}
.social-connect-signs{margin-top:8px;font:500 14px/29px Roboto;color:#fff}.social-connect-google .social-connect-signs{margin-top:7px}
.content-block-5{margin-top:15px;min-width:735px}.api-container span{font:18px/29px Roboto}
.api{margin-top:7px;background:#202b3c;padding:30px 0 27px 21px;height:124px;border-radius:5px}
.api>span{font:12px/29px Roboto}.view-change{margin-top:27px;justify-content:space-between;align-items:center;width:650px}
.view-change .btn-copy{display:none}
.view-change input{
    color:#fff;
    width:367px;
    height:34px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background:#36445a;
    padding:0 10px;
    border: 1px solid rgb(72, 72, 98);
    background-color: rgb(54, 68, 90);
}
.btn-copy button,.view-change button{height:30px;font:14px/29px Roboto;color:#fff;background:#5bae62}
.btn-change button,.btn-view button{-webkit-border-radius:20px;-moz-border-radius:20px}
.view-change-btn{display:flex;flex-direction:row}.view-change-btn .btn-view{margin:0 22px}
.btn-view button{width:115px;border-radius:20px}
.btn-change a{
    display: block;
    width:124px;
    background: #5bae62;
    text-align: center;
    color:#ffffff;
    padding:0;
    border-radius:20px}
.btn-copy{margin-top:15px}
.btn-copy button{width:71px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px}
@media screen and (max-width:1365px){
    .layout{margin:0 auto}
    .content-fname-phone, .content-other{margin-right:17px}
    .switch{margin:14px auto 0}
    .left-menu-title{display:none}
    .left-menu-show{display:flex;flex-direction:column;align-items:center;justify-content:center;padding:36px 0 60px}
    .left-menu{width:66px;min-width:66px}.left-menu-group-1 ul{margin:0;padding:0 7px}
    .left-menu-group-1 li{padding:0;margin:0 auto;width:48px;height:48px}
    .left-menu-group-1 a,.left-menu-group-1 hr,.switch{display:none}.header{border-bottom:none;}
    .content{height: -webkit-calc(100% - 60px);height: calc(100vh - 60px);}
    .content-big-height{height: -webkit-calc(100% - 60px);height: calc(100% - 60px);}
    .content-big-height-1 {height: -webkit-calc(100% - 61px);height: calc(100% - 61px);}
    .rt-menu{margin-top:-62px;width:166px;min-width:166px}.personal-status{font:13.64px/32.97px Roboto;color:#36af47;margin-bottom:10px}
    .personal-text{margin-top:1px}.rt-menu-list ul{padding:8px 7px 5px 8px}
    .rt-menu-list li{padding-left:16px}.rt-menu-list a{font:14px/29px Roboto}
    .rt-menu-list li:last-child a > span{line-height: 1.1;text-align: left}
    .content-container{padding:0 8px 5px 8px}
}
@media screen and (max-width:1060px){
    .view-change{
        flex-direction:column;align-items:flex-start;width:360px;margin-top:22px}
    .view-change .btn-copy{display:block}
    .first-name{margin-bottom: 20px}
    .content-other{margin-top:20px}
    .country-code > div{width: 95%}
    .country-div, .code{width: 100%}
    .country-div{margin-right: 0}
    .country-select input{width: 90%}
    .country-div select, .code input{width: 90%;}
    .country-div select{background-size: 3.5%}
    .view-change-btn{margin-top:16px}
    .view-change-btn .btn-copy{margin-top:0}
    .btn-copy{display:none}
    .button-save{
        margin:26px 80px 0 0;
        align-self: flex-end;
        }
    .first-name input, .phone input, .last-name input{width: 90%}
    .content-personal-information-width{flex-direction:column;padding-bottom:24px;}
    .last-name {
        margin-bottom: 20px;
    }
}
@media screen and (max-width:1023px){.header-content{min-width:290px}.content-block-1,.content-block-2,.content-block-4,.content-block-5{min-width:502px}}
@media screen and (max-width:980px){.left-menu{width:68px;min-width:68px}
/*    .content-other{margin-top:24px}*/
    .first-name,.last-name{margin-bottom:26px}
    .content-email-pass-container{margin-top:10px;flex-direction:column}
    .change-password,.email-address{min-width:250px;
        max-width:100%;
        margin-right:0}.social{height:152px}
    .email-address{margin-bottom: 10px}
    .api{padding:20px 0 40px 21px;height:119px}}
@media screen and (max-width:767px){.content-block-1,.content-block-2,.content-block-3,.content-block-4,.content-block-5{min-width:260px}
    .button-save{
        margin-right: 13%;
    }
}
@media screen and (max-width:749px){.rt-menu{width:165px;min-width:165px}.content-container{padding:0 8px 66px 8px}}
@media screen and (max-width:719px){#wrapper{overflow:visible}.rt-menu{width:125px;min-width:125px}
    .authent{height:155px}.authent-btn a{margin:0}
    .view-change input{width:300px}
    .authent-btn{height:120px;justify-content:space-between;flex-direction:column;width:180px}
    .authent-btn-2 a{width:139px}
@media screen and (max-width:618px){.social-text,.view-change{width:250px;min-width:250px}.social-connect{margin-top:15px}.api{height:200px}.view-change-btn{display:flex;flex-direction:column;justify-content:space-between;height:120px}.view-change-btn button{width:124px}.view-change-btn .btn-view{margin:0}}
@media screen and (max-width:585px) {
    .first-name input, .last-name input, .phone input, .code input {
        width: 90%
    }

    .country-code > div {
        flex-direction: column
    }

    .country-code > div {
        width: 100%;
    }

    .country-div{
        margin-bottom: 20px;
    }
    .country-div input {
        width: 90%
    }

    .country-select{
        width: 100%;
    }

    .view-change input{width: 250px}
}
@media screen and (max-width:515px){
    .rt-menu-list,.rt-menu-list ul{text-align:center}.header-img{margin-right:15px}
.api-container>span,.authentication-container>span,.change-password>span,.content-block-1>span,.content-block-2>span,.content-block-3>span,.email-address>span,.give-get-title,.invoice-container>span,.social-container>span{padding-left:20px}
.social-text{width:230px;min-width:230px;font-size:11px} .rt-menu-list a{padding-left: 15px;}
    .rt-menu-list li:last-child a {
        line-height: 2.1;
    }

/*    .country-div input {
             width: 95%
         }*/
.content, .content-big-height, .content-big-height-1{display:flex;flex-direction:column;/* height: auto*/}
.rt-menu{margin-top:0;width:100%;height: 310px;}.button-save,.content-other{margin-top:15px}.personal-text { margin-top:0;}
.personal-status {margin-bottom:0;}
.content-big-height .content-container{padding:10px 0 20px}
.content .content-container{padding:10px 0 20px;/*height: calc(100vh - 421px);*/ height: 100%}
.first-name,.last-name{margin-bottom:10px}
.rt-menu-list li{padding-left:0}.left-menu-show{padding:30px 0}.left-menu-bg{width:25px;height:25px}
.left-menu-line{width:25px;height:2px}/*.left-menu-group-1{height:0;z-index:9999;transition:.4s;overflow:hidden}*/
.left-menu-group-1.active{height:auto}.left-menu-group-1 li{margin-bottom:15px;width:22px;height:22px;background-color:transparent!important}
.left-menu-group-1 li.left-menu-link-1,.left-menu-group-1 li.left-menu-link-2,.left-menu-group-1 li.left-menu-link-3,.left-menu-group-1 li.left-menu-link-4,.left-menu-group-1 li.left-menu-link-5,.left-menu-group-1 li.left-menu-link-6,.left-menu-group-1 li.left-menu-link-7,.left-menu-group-1 li.left-menu-link-8{background-size:contain}}