/*.chat-page-wrapper{height: 100vh;!important;}*/.content-email-subscribe{background:#202b3c;padding:14px 5px 3px 20px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}.content-email-subscribe-text{max-width:315px;font:12px/16px Roboto;color:#92a1bd;margin-bottom:22px}.content-email-subscribe-link label{font:14px/16px Roboto;text-decoration:none;padding-left:10px}.content-email-subscribe-link li{padding-left:30px;margin:10px 0}
